body {
  color: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/subtle_white_feathers.png");
  background-color: darkgrey;
}


/*the sticky footer requires this - found solution on stack overflow! */

html,
body {
  height: 100%;
}

p {
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 18px;
}


/*this div makes the footer sticky*/


/* I got this code snippet from  Chris Coyier at CSS Tricks.com*/

.pagewrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -92px;
}

.pagewrapper:after {
  content: "";
  display: block;
}

.pagewrapper:after {
  height: 92px;
}


/*wrapped each row in a container that has the fixed width and is centered.
 *overflow auto stops the container from collapsing when child elements are floated*/

.container {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
}

.header h1 {
  float: left;
  font-size: 32px;
  background-color: #4aaaa5;
  color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  padding: 30px;
}

ul.nav li {
  display: inline;
  font-size: 18px;
  color: #989898;
  margin: 0;
  padding: 0 17px;
  border-right: 1px solid #eee;
}


/*last nav item doesn't get a bar or space on the right*/

ul.nav li:last-child {
  border-right: 0;
  padding-right: 0;
}

ul.nav {
  float: right;
  color: #777;
  padding: 32px 0;
}

ul.nav li a,
ul.nav li a:active,
ul.nav li a:visited {
  color: #989898;
  text-decoration: none;
}

ul.nav li a:hover {
  color: #4aaaa5;
  text-decoration: underline;
}

.header {
  background-color: white;
  border-bottom: 2px solid #cccccc;
}

h2 {
  color: #4aaaa5;
  font-size: 30px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

h3 {
  color: #4aaaa5;
  font-size: 22px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

.maincontent {
  clear: both;
  display: block;
  width: 586px;
  float: left;
  border: 1px solid #dddddd;
  margin: 40px 0;
  background-color: #fff;
  padding: 37px 30px;
}

.social {
  float: left;
  display: block;
  width: 208px;
  border: 1px solid #dddddd;
  margin: 40px 0 0 40px;
  background-color: #fff;
  padding: 30px 30px 35px 30px;
}

div.ruler-lg {
  background-color: #ddd;
  width: 100%;
  height: 3px;
  margin: 28px 0 26px 0;
}

div.ruler-sm {
  background-color: #eee;
  width: 100%;
  height: 2px;
  margin: 24px 0;
}

.social li img {
  width: 60px;
  height: auto;
  margin-right: 5px;
}

.social ul li {
  display: inline;
}


/* adding hover effect to social icons*/

.social li img:hover {
  opacity: .5;
}

img.portrait {
  width: 200px;
  height: auto;
  float: left;
  margin: 0 25px 10px 0;
}

footer {
  clear: both;
  background-color: #666666;
  padding: 36px 0;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  height: 24px;
}


/* added this to get rid of little scroll arrows that were appearing in chrome */

footer .container {
  overflow: visible;
}


/* Contact Form Styles */

.contactform {
  line-height: 30px;
}

input[type=text] {
  padding: 12px;
  margin-bottom: 12px;
  width: 558px;
}

button[type=submit] {
  padding: 10px 25px;
  margin-top: 10px;
  border: 0;
  background-color: #4aaaa5;
  color: #fff;
  font-size: 18px;
}

textarea {
  width: 578px;
  height: 200px;
}


/* portfolio images styles */

.port-img-holder {
  float: left;
  width: 273px;
  height: 204px;
  overflow: hidden;
  border: 1px #ccc solid;
  margin: 15px 35px 40px 0;
  position: relative;
}

.port-img-holder:nth-child(even) {
  margin-right: 0;
}

.port-img-holder:hover .port-caption {
  opacity: .5;
}

.port-img-holder .port-caption {
  position: absolute;
  top: 135px;
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/* media queries */
/* Desktop Width */
@media screen and (max-width: 980px) and (min-width: 769) {
  .maincontent {
    width: 358px;
  }
  .container {
    margin: 0 auto;
    width: 735px;
  }
  ul.nav li {
    font-size: 16px;
    font-weight: bolder;
  }
  p {
    font-size: 17px;
    line-height: 185%;
  }
  img.portrait {
    width: 100%;
    float: none;
  }
  input[type=text] {
    width: 336px;
    padding: 8px;
  }
  textarea {
    width: 350px;
  }
  .port-img-holder,.port-img-holder a {
    width: 100%;
    height: 215px;
    display: block;
  }
  .port-img-holder img {
    margin: 0 auto;
    display: block;
  }

}

/* Tablet Width */
@media screen and (max-width: 768px) {
  .social {
    float: none;
    clear: both;
    width: 586px;
    margin: 0 0 40px 0;
  }
  .container {
    margin: 0 auto;
    width: 653px;
  }
  ul.nav li {
    font-size: 16px;
    font-weight: bolder;
  }
  p {
    font-size: 17px;
    line-height: 185%;
  }
  div.ruler-sm {
    width: 91%;
  }
  input[type=text] {
    padding: 8px;
    width: 566px;
  }

}

/* Phone Landscape Width */
@media screen and (max-width: 640px) {
  /* Make the position of the header `static` (the default positioning) */
}